* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 100vw;
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; 

  position: relative;

  overflow: auto;
}

.black {
  background-color: #9fa9ba;
}

.white {
  background-color: #627891;
}

@media screen and (max-width: 991.98px) {
  body {
    min-height: 700px;
  }

  .app {
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 2rem;
    min-height: 900px;
  }
}

@media screen and (max-width: 767.98px) {
  .app {
    min-height: 850px;
    padding-top: 6rem;
  }
}

@media screen and (max-width: 474.98px) {
  .app {
    min-height: 800px;
    padding-top: 6rem;
  }
}

@media screen and (max-width: 424.98px) {
  .app {
    min-height: 725px;
    padding-top: 4rem;
  }
}

