* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  width: 100vw;
  height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center; 

  position: relative;
  max-height: 1000px;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.cell img{
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: #9fa9ba;
}

.white {
  background-color: #627891;
}

.selected {
  background-color: #53d2ea;
}

.attacked{
  background-color: #ff0000;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #53d2ea;
}